init:
ruleSet = [ test.groovy   , a, a  , fasd      ,      123]
mode = NORMAL
pass -> one
reject -> return
undefine -> return

step one:
ruleSet = [ahaha.groovy, adfa, a,f,af,ad,fa, fff]

step two:
ruleSet = [a,d,a,d]
mode = NORMAL